
// 字体大小
$font-size-base: 16px;
$font-size-small: 14px;
$font-size-lesser-small: 12px;
$font-size-large: 18px;
$font-size-extra-large: 20px;
$font-size-title: 32px;
// 字体颜色
$text-color-base: #2B2B2D;
$text-color-regular: #64646A;
$text-color-placeholder: #9D9DA5;
$text-color-disabled: #CACACE;
// 主色调
$color-primary: #0096ff;
$color-primary1: #33abff;
$color-primary2: #41adfb;
$color-primary3: #59b6fb;
$color-primary4: #71c1fc;
$color-primary5: #e7f4fe;
$color-warning: #FF6b42;
$color-success: #11a885;
$color-danger: #FF0000;
$color-error: #FF0000;
$color-tips: #2a85fc;
$color-white: #fff;
// 阴影
$shadow: 0 4px 8px 0 #2b2b2d1a;
// 边框
$border-color: #D4D8DC;
$border: 1px solid $border-color;
// 背景颜色
$background: #f6f6f6;

